<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="estefaniagg.blecontrol">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Actividad.Principal"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".Servicio.BluetoothLeService" android:enabled="true"/>
        <activity android:name=".Actividad.Voz" android:screenOrientation="landscape" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".Actividad.Gamepad" android:screenOrientation="landscape" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".Actividad.Multimedia" android:screenOrientation="landscape" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".Actividad.Teclado" android:screenOrientation="landscape" android:configChanges="orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden"></activity>
    </application>
</manifest>